name: test-coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-tinytex@v2
      
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            devtools
            covr
            testthat
            bench
            jsonlite

      - name: Install package
        run: Rscript -e 'devtools::install(dependencies = TRUE)'

      - name: Run tests
        run: Rscript -e 'devtools::test()'

      - name: Generate coverage JSON
        run: |
          cov <- covr::package_coverage()
          df <- covr::as.data.frame(cov)
          jsonlite::write_json(df, "coverage.json", auto_unbox = TRUE)
        shell: Rscript {0}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.json
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          verbose: true
