name: test-coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-tinytex@v2
      
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            devtools
            covr
            testthat
            bench
          needs: coverage

      - name: Install package
        run: Rscript -e 'devtools::install(dependencies = TRUE)'

      - name: Run tests
        run: Rscript -e 'devtools::test()'

      # Generate coverage report in Codecov v4 JSON format
      - name: Generate test coverage
        run: |
          cov <- covr::package_coverage()
          covr::codecov(coverage = cov, path = "coverage.json", quiet = FALSE)
        shell: Rscript {0}

      # Upload the JSON file
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.json
          fail_ci_if_error: false
          verbose: true
