name: test-coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-tinytex@v2
      
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            devtools
            covr
            testthat
            bench
          needs: coverage

      # Install your package
      - name: Install package
        run: Rscript -e 'devtools::install(dependencies = TRUE)'

      # Run tests
      - name: Run tests
        run: Rscript -e 'devtools::test()'

      # Generate the coverage.json report
      - name: Generate test coverage
        run: |
          cov <- covr::package_coverage()
          covr::to_json(cov, "coverage.json")
        shell: Rscript {0}

      # Upload coverage.json to Codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.json
          fail_ci_if_error: false
          verbose: true
